body {
	background: #E6E6E6;
}
.container {
	background: #FFF;	
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	height: 500px;
	margin: 0 auto;
	width: 900px;
}
.capas {
	border: 1px solid #000;
	display: inline-block;
	height: 500px;
	vertical-align: top;
	width: 430px;
}
#form {
	border-bottom: solid 1px #000;
	height: 250px;
}
#data {
	text-align: left;
	max-height: 230px;
	overflow: auto;
}
#ubicaciones {
	margin: 0;
	padding: 10px;
	list-style: none;
}
#ubicaciones li {
	color: #336699;
	font-family: "Trebuchet MS", Arial, Helvetica;
}
#ubicaciones li:nth-child(even) {
	background: #F5ECCE 
}
#ubicaciones li:nth-child(odd) {
	background: #F8E0E0
}