{% extends 'base.html' %}
{% block title %} Django y Google Maps {% endblock %}
{% block container %}
	<div id="mapa" class="capas"></div>
	<div id="datos" class="capas">
		<div id="form">
			<form action="/coords/save" id="form_coords" method="post">{% csrf_token %}
				{{ form.as_p }}
				<p>
					<input type="submit" value="Guardar direcci&oacute;n">
				</p>
			</form>
		</div>
		<div id="data">
			<ul id='ubicaciones'>
			{% for Ubicacion in Ubicaciones %}
			<li>{{ Ubicacion.nombre }} {{ Ubicacion.user }} - hace {{ Ubicacion.fecha|timesince }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}